<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Список территорий</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <style type="text/css">body { padding-top: 70px; }</style>
</head>
<body>
<div>
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:text="${territory.name + ' управление'}"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{/}">К списку управлений</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="container-fluid">

        <script>
            $(document).ready(function (event) {
                $('ul.nav.nav-tabs a:first').tab('show'); // Select first tab
                $('ul.nav.nav-tabs a[href="' + window.location.hash + '"]').tab('show'); // Select tab by name if provided in location hash
                $('ul.nav.nav-tabs a[data-toggle="tab"]').on('shown', function (event) {    // Update the location hash to current tab
                    window.location.hash = event.target.hash;
                })
            });
        </script>

        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#opo" aria-controls="opo" role="tab" data-toggle="tab">Сведения по ОПО</a>
                </li>
                <li role="presentation">
                    <a href="#gts" aria-controls="gts" role="tab" data-toggle="tab">Сведения по ГТС</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="opo">
                    <div th:replace="fragments/table(list=${opo}, headers=${headers}, type=0, checkCount=${opoCheckCount}, allViolationsCount=${opoAllViolationsCount}, fixedViolationsCount=${opoFixedViolationsCount})"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="gts">
                    <div th:replace="fragments/table(list=${gts}, headers=${headers}, type=1, checkCount=${gtsCheckCount}, allViolationsCount=${gtsAllViolationsCount}, fixedViolationsCount=${gtsFixedViolationsCount})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>